
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90vw;
  margin: 30px auto;
  overflow: auto;
  height: 80vh;
  border: 1px solid rgb(138, 189, 234);
  padding: 30px;
  margin-bottom: 100px;
  border-radius: 5px;
}

.entryBar {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 5%;
}

.headerBar {
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
}